/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-7c73dbb3-ryetjukd version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-ryetjukd.master.item-box   {
		
						position: relative;
						
						background-color: rgb(255, 255, 255);
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-ryetjukd .preview-item-links span:hover  ,  .style-7c73dbb3-c23pitab .style-7c73dbb3-ryetjukd .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(147, 147, 147, 0);
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-ryetjukd.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-ryetjukd .preview-item-links  {
		
						text-align: center;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-ryetjukd  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						
						max-width: 2000px;
						
						margin-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						background-color: rgba(0, 0, 0, 0);
						
						text-align: center;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-ryetjukd .preview-item-links span  ,  .style-7c73dbb3-c23pitab .style-7c73dbb3-ryetjukd #sr-basket-widget *  { font-size:calc( 10px + ( 14rem - 10rem ) );
						padding-right: 10px;
						
						color: rgb(50, 50, 50);
						
						padding-bottom: 5px;
						
						border-color: rgb(246, 246, 246);
						
						letter-spacing: 0.05em;
						
						max-width: 1150px;
						
						font-weight: bold;
						
						padding-left: 10px;
						
						padding-top: 5px;
						
						font-family: Raleway;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-ryetjukd .preview-title  ,  .style-7c73dbb3-c23pitab .style-7c73dbb3-ryetjukd .preview-body h1  { font-size:calc( 10px + ( 24rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						margin-left: 0px;
						
						font-family: 'Raleway Heavy';
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-ryetjukd .preview-item-links.allow-bg-color  ,  .style-7c73dbb3-c23pitab .style-7c73dbb3-ryetjukd .submenu  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-ryetjukd .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-ryetjukd .item-content:not(.blocks_layout)  {
		
						background-color: rgba(244, 203, 74, 0);
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-ryetjukd .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-ryetjukd .stripe-background  {
		
						margin-left: -6%;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-ryetjukd .preview-element.icon-source  {
		
						margin-right: 10px;
						
						margin-left: 10px;
						
						width: 190px;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-ryetjukd  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: center;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-ryetjukd .middle_layout .helper-div  ,  .style-7c73dbb3-c23pitab .style-7c73dbb3-ryetjukd .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-ryetjukd .preview-subtitle  ,  .style-7c73dbb3-c23pitab .style-7c73dbb3-ryetjukd .preview-body h2  { font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(152, 152, 152);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/



















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-7c73dbb3-rdbsclw2 version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2  .preview-content-holder  {
		
						margin-right: 30px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 500px;
						
						padding-right: 0px;
						
						margin-top: 30px;
						
						margin-left: 30px;
						
						padding-top: 0px;
						
						margin-bottom: 30px;
						
						background-color: rgba(255, 255, 255, 0);
						
						padding-left: 0px;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2 .item-content:not(.blocks_layout)  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2 .preview-divider  {
		
						border-style: solid;
						
						border-color: rgb(255, 255, 255);
						
						border-bottom-width: 1px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						width: 25%;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2 .inner-pic  {
		
						opacity: 1.1;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2 .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2 .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2 .background-div  {
			
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2 .preview-title  ,  .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2 .preview-body h1  { 
						font-family: Quicksand;
						font-size:calc( 10px + ( 50rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-top: 10px;
						
						margin-bottom: 25px;
						
						line-height: 0.9em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2.master.item-box   {
		
						padding-left: 0%;
						
						width: 100%;
						
						padding-right: 0%;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2 .preview-item-links span  ,  .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2 #sr-basket-widget *  { 
						font-family: Arial;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 25px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.25em;
						
						padding-right: 40px;
						
						margin-top: 15px;
						
						padding-left: 40px;
						
						border-radius: 0px;
						
						padding-top: 25px;
						
						margin-bottom: 15px;
						
						border-width: 1px;
						
						background-color: rgb(50, 50, 50);
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2 .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2 .preview-element.icon-source  {
		
						width: 70px;
						
						margin-bottom: 10px;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2 .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2 .preview-link-img  {
		
						width: 44px;
						
						margin: 5px;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2 .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2 .preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2 .preview-item-links span:hover  ,  .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2 .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(234, 234, 234, 0.9);
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2 .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2 .preview-item-links span:before  ,  .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2 .effect-tester  { 
						background-color: rgba(234, 234, 234, 0.9);
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2 .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 1000px;
						
						margin-top: 15px;
						
						margin-bottom: 15px;
						
						line-height: 1.4em;
							
		}
	
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2 .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 10px;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2 .middle_layout .helper-div  ,  .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2 .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1200px;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2 .preview-subtitle  ,  .style-7c73dbb3-c23pitab .style-7c73dbb3-rdbsclw2 .preview-body h2  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 20rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.15em;
						
						margin-right: 0px;
						
						margin-top: 15px;
						
						margin-left: 0px;
						
						margin-bottom: 15px;
						
						font-family: 'Times New Roman';
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-7c73dbb3-rdbsclw2 #vbid-7c73dbb3-lqxid8qw .preview-content-holder{
				
							text-align : left;
					
				} .style-7c73dbb3-rdbsclw2 #vbid-7c73dbb3-9bydo7da .preview-content-holder{
				
							text-align : left;
					
				} .style-7c73dbb3-rdbsclw2 #vbid-7c73dbb3-ybwejqni .preview-content-holder{
				
							text-align : left;
					
				}


 .style-7c73dbb3-rdbsclw2 #vbid-7c73dbb3-boc1h9b9.inner-pic{
				
							background-size : cover;
					
				} .style-7c73dbb3-rdbsclw2 #vbid-7c73dbb3-s4z9qxfk.inner-pic{
				
							background-size : cover;
					
				} .style-7c73dbb3-rdbsclw2 #vbid-7c73dbb3-vnuachgr.inner-pic{
				
							background-position : 49.4253% 72.7769%, 49.4253% 72.7769%;
					
				}













 .style-7c73dbb3-rdbsclw2 #vbid-7c73dbb3-lqxid8qw .preview-content-wrapper{
				
							text-align : center;
					
				} .style-7c73dbb3-rdbsclw2 #vbid-7c73dbb3-9bydo7da .preview-content-wrapper{
				
							text-align : center;
					
				} .style-7c73dbb3-rdbsclw2 #vbid-7c73dbb3-ybwejqni .preview-content-wrapper{
				
							text-align : center;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-7c73dbb3-o6bjqhli version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 800px;
						
						padding-right: 0px;
						
						margin-top: 40px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 40px;
						
						background-color: rgba(255, 255, 255, 0);
						
						padding-left: 0px;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli .preview-divider  {
		
						border-style: solid;
						
						border-color: rgb(0, 0, 0);
						
						border-bottom-width: 2px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						width: 10%;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli .inner-pic  {
		
						opacity: 0.84;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter: brightness(0.6);	
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -4%;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli .multi_layout .helper-div.middle-center  {
		
						padding-left: 4%;
						
						width: 92%;
						
						padding-right: 4%;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli .background-div  {
			
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli .preview-title  ,  .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli .preview-body h1  { 
						font-family: "Playfair Display";
						font-size:calc( 10px + ( 24rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: -0.05em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.0em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli.master.item-box   {
		
						padding-left: 0%;
						
						padding-right: 0%;
						
						width: 100%;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli .preview-item-links span  ,  .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli #sr-basket-widget *  { 
						font-family: Arial;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 20px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.25em;
						
						text-decoration: underline;
						
						padding-right: 40px;
						
						margin-top: 15px;
						
						padding-left: 40px;
						
						border-radius: 0px;
						
						padding-top: 20px;
						
						margin-bottom: 15px;
						
						border-width: 1px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli .preview-element.icon-source  {
		
						width: 70px;
						
						margin-bottom: 10px;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli .preview-link-img  {
		
						width: 30px;
						
						margin: 20px;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli .preview-item-links span:before  ,  .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli .preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli .preview-item-links span:hover  ,  .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli .inner-pic-holder  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(165, 165, 165);
						
						letter-spacing: 0.25em;
						
						max-width: 1000px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli .preview-social-holder  {
		
						margin-bottom: 20px;
						
						margin-top: 20px;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli .middle_layout .helper-div  ,  .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1300px;
							
		}
	 .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli .preview-subtitle  ,  .style-7c73dbb3-c23pitab .style-7c73dbb3-o6bjqhli .preview-body h2  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.15em;
						
						margin-right: 0px;
						
						margin-top: 20px;
						
						margin-left: 0px;
						
						margin-bottom: 20px;
						
						font-family: 'Times New Roman';
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-7c73dbb3-o6bjqhli #vbid-7c73dbb3-iibpydrl .preview-content-holder{
				
							text-align : center;
					
				}


 .style-7c73dbb3-o6bjqhli #vbid-7c73dbb3-fkdjyyyg.inner-pic{
				
							background-position : 49.4253% 72.7769%, 49.4253% 72.7769%;
					
				} .style-7c73dbb3-o6bjqhli #vbid-7c73dbb3-bo0pfvyt.inner-pic{
				
							background-size : contain;
					
				} .style-7c73dbb3-o6bjqhli #vbid-7c73dbb3-7c04hzkt.inner-pic{
				
							background-size : cover;
					
				}













 .style-7c73dbb3-o6bjqhli #vbid-7c73dbb3-iibpydrl .preview-content-wrapper{
				
							text-align : center;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-7c73dbb3-c23pitab version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .master .style-7c73dbb3-c23pitab .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .master .style-7c73dbb3-c23pitab .Subtitle  ,  .master .style-7c73dbb3-c23pitab .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .master .style-7c73dbb3-c23pitab .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .master .style-7c73dbb3-c23pitab .Title  ,  .master .style-7c73dbb3-c23pitab .Body h1  { font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .master .style-7c73dbb3-c23pitab .link-wrapper  {
		
						max-width: 1058px;
							
		}
	 .master .style-7c73dbb3-c23pitab .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	
	 .master .style-7c73dbb3-c23pitab .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .master .style-7c73dbb3-c23pitab .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-7c73dbb3-c23pitab .item-links span  {
		
						border-width: 1px;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						font-family: Arial;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	 .master .style-7c73dbb3-c23pitab .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-7c73dbb3-c23pitab .body-wrapper  {
		
						max-width: 1032px;
							
		}
	 .style-7c73dbb3-c23pitab.master.container > #children  {
		
						background-color: rgb(237, 237, 237);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						letter-spacing: -0.05em;
				
						font-family: Quicksand;
				
						line-height: 1.1em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-element.Link:not(.custom)  {
		
						font-family: Quicksand;
				
						letter-spacing: 0.0em;
				
						border-width: 0px;
				
						border-radius: 0px;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: Quicksand;
				
						letter-spacing: 0.0em;
				
						line-height: 1.7em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-body:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-body:not(.custom) { 
						font-family: Montserrat;
				
						letter-spacing: 0.0em;
				
						line-height: 1.7em;
					
		}
	
	
	
			body    {
		
						background-color: rgb(255, 255, 255);
					
		}